body{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#left{
    border-radius: 25px 0 0 25px;
    width:300px;
    border:none;
    height:50px;
    outline:none;
    padding: 0 25px;
     font-size: 22px;
    font-family: 'Indie Flower', cursive;
    
}
#right{
    border-radius: 0 25px 25px 0;
    border: none;
    width:100px;
    outline:none;
     font-size: 22px;
    height:50px;
    font-family: 'Indie Flower', cursive;
}
#right:hover{
    font-size: 22px;
}
.container{
    background: none;
    width :800px;
    margin: 200px auto;
    border: none;
}
