body{
    
    background: url("background.jpeg") no-repeat center center fixed;
    background-color: rgba(0, 0, 0, .5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
h1{
    font-size: 100px;
    margin-bottom: 0px;
}
#left{
    border-radius: 25px 0 0 25px;
    width:150px;
    border:none;
    height:35px;
    outline:none;
    font-size: 22px;
    padding-left: 10px;
    font-family: 'Indie Flower', cursive;
    transition: width .75s;
    margin-right: 0;
    
}
#middle{
    margin-left: 0;
    width:150px;
    border:none;
    height:35px;
    outline:none;
    font-size:22px;
    padding-left: 10px;
    font-family: 'Indie Flower', cursive;
    transition: width .75s;
}
#right{
    border-radius: 0 25px 25px 0;
    width:80px;
    border:none;
    height:37px;
    outline:none;
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
    transition: width .75s;
}
#left:hover{
    width:200px;
    
}
#middle:hover{
    width:200px;
    
}
#right:hover{
    width: 100px;
}
.container{
    background: none;
    width :800px;
    margin: 250px auto;
}
